<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="ClientId" value="3"/>
<add key="ApplicationId" value="3"/>
<add key="LogFilePath" value="C:\HostedLogs"/>
<!--<add key="APIURL" value="http://10.31.24.53/LoggerAPI/api/LogEntries"/>-->
  <add key="APIURL" value="http://localhost/LoggerAPI/api/LogEntries"/>
  <add key="WebAPILogType" value="Info,Warning,Error"/>
<add key="" value=""/>
</appSettings>
</configuration>